body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: antiquewhite;
}

h1 {

    background-color: white;
    width: fit-content;
    max-width: 90vw;
    font-family: monospace;
    border: 3px solid black;
    padding: 9px;
    margin-left: min(5vw, env(safe-area-inset-left));
    margin-right: min(5vw, env(safe-area-inset-right));
    font-size: 4vw;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
